/* Background */
html {
    background-color: #E3DBDB;
}

/* Storefront Name */
h1 {
    font-size: 4.5em;
    color: #646881;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 20px 20px 1px 20px;
    position: absolute;
}
h1.grace {
    font-family: 'Autumn Chant';
    color: #5AD2F4;
    margin: 41px 20px 5px 15px;
    position: absolute;
    font-size: 5em;
}

/* Navigation Bar */
ul, li, a {
    list-style: none;
    float: left;
    color: #404e4d;
    text-align: left;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 1em;
    font-family: bellaboo;
    margin: 50px 5px;
    position: relative;
}

/* Search Box */
input[type=text] {
    float: right;
    padding: 5px;
    border: none;
    margin-top: 117px;
    margin-right: 16px;
    font-size: 1em;
    font-family: 'bellaboo';
    color: #404e4d;
    position: relative;
}