/* Background */
html {
    background-color: #E3DBDB;
    display: inline-flex;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "bellaboo";
  src: url("fonts/bellaboo.woff") format('woff');
}

body {
  font-family: Bellaboo;
  margin: 0;
}
/*********/
* Header *
/*********/

/*Header Container*/
.header {
  height: 50px;
  border-top: 10px;
  border-bottom: 1px solid black;
  display: inline-flex;
  flex-flow: row-wrap;
  width: 100%;
  align-items: center;
}

.storefrontname {
  margin-top: 15px;
  height: 150px;
  width: auto;
  position: relative;
  flex: 0 1 50%;
}

/*Top Nav Container*/
.topnav {
  flex: 0 1 50%;
  align-items: center;
  height: 50px;
  align-items: center;
}
<span style="font-size: 3em; color: #404e4d;">
  <i class="fa fa-shopping-cart"></i>
</span>

.button {
 height: 30px;
}
.button input {
  border: solid 5px #717171;
  padding: .5em;
  border-radius: 30px;
  font-family: Bellaboo;
  font-size: .75em;
}
.button input:hover{
  border: solid 5px #5AD2F4;
}

/***************/
* Navigation Bar *
/***************/

/*Nav Bar Container*/

.navbar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 20px;
}

.navbar a {
    list-style: none;
    float: left;
    color: #404e4d;
    text-align: left;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 1em;
    font-family: bellaboo;
    margin: 15px 5px;
    position: relative;
    overflow: hidden;
    background: transparent;
    z-index: 1;
}

/* Style the "active" element to highlight the current page */
.navbar a:active {
    color: white;
    text-decoration: bold;
    background: transparent;
    z-index: -1;
}

/* Change the color of links on hover */
.navbar a:hover {
  color: #5AD2F4;
  background: transparent;
  z-index: .5;
}

/************/
* Slideshow *
/************/

/*Slide Show*/
.display-container {
  background-color:#ffffff;
}

.myslides {
  background-color:#ffffff;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 750px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 10px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: Bellaboo;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
  }

  /*********************/
 * Shopping Categories *
 /**********************/

  .categories-container {
    border: 1px black;
    height: 200px;
    margin: auto;
  }
    
    .card {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 2em;
  }

  .category-img {
    border: solid #404e4d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3;
    z-index: 1;
	  width: 100%;
    height: auto;
    overflow-x: auto;
    overflow-y: auto;
    display: block;
    align-content: top;
  }

  .category-img:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .caption {
    color: white;
    width: 100%;
    margin-top: -5.4em;
    z-index: 1;
    font-size: 1.5em;
    text-align: center;
  }
  
  @media screen and (min-width: 40em) {
    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }

    .card {
      flex: 0 1 calc(50% - 1em);
    }
}
 
@media screen and (min-width: 60em) {
    .card {
      flex: 0 1 calc(25% - 1em);
     }
}


  /*Testimonials*/
  .testimonials-container {
    max-width: 750px;
    position: relative;
    margin: auto;
    border: 1px solid black;
  }

  .mySlides2 {
    display: none;
  }

  .mySlides2 {
    background-color:#E3DBDB;
  }

  /* Fading animation */
.fade2 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

 /*********/
 /* Footer*/
 /*********/

  footer {
    height: 200px;
    margin:5px;
    display:inline-block;
    width:100%;
    padding-top:30px;
    border: 1px solid hotpink;
    font-family: open sans,helveticaneue-light,helveticaneuelight,helvetica neue light,helvetica neue,helvetica-neue,Helvetica,Arial,lucida grande,sans-serif;
  }

  footer img {
    width:auto;
    /*centers image in container*/
    display:block;
    margin-left: auto;
    margin-right: auto;
  }

  footer p {
    font-size: 12px;
    padding:3px;
    margin:0px;
    text-align: center;
  }

  footer a {
    font-size: 1em;
    padding:0px;
    margin:0px;
    font-family: open sans,helveticaneue-light,helveticaneuelight,helvetica neue light,helvetica neue,helvetica-neue,Helvetica,Arial,lucida grande,sans-serif;
  }
  footer ul{
    float: none;
    margin:0;
    padding:0;
  }

  footer li{
    float: none;
    color:black;
    padding:5px;
    margin:0px;
    font-size:12px;
    font-family: open sans,helveticaneue-light,helveticaneuelight,helvetica neue light,helvetica neue,helvetica-neue,Helvetica,Arial,lucida grande,sans-serif;
  }

  .flex-container {
    display: flex;
    background-color:#E3DBDB;
    justify-content: space-evenly;
    align-items:flex-start;
  }

  .child-container {
    background-color: #E3DBDB;
    font-size: 30px;
    align-items:flex-start;
  }

  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .child-container-friends{
    font-style:italic;
    font-size:1.5em;
    font-family:serif;
  }
  
  .facebook {
    background-color: #E3DBDB;
  }
  
  .twitter {
    background-color: #E3DBDB;
  }

  .instagram {
    background-color: #E3DBDB;
  }

  
  .envelope {
    background-color: #E3DBDB;
  }
  
  .btn-wrapper {
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }
  
  .fa {
    margin-right:5px;
  }