/* Navigation Bar */
ul, li, a {
    list-style: none;
    float: left;
    color: #404e4d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-family: bellaboo; 
}

/* Background */

html {
    background-color: #E3DBDB;
}

/* Storefront Name */

h1 {
    font-size: 50px;
    color: #404e4d;
}